.button {
  border: none;
  padding: 1rem;
  border-radius: 4px;
  background-color: rgb(27, 100, 27);
}

.button:hover {
  background-color: blue;
}

@media screen and (max-width: 450px) {
  .button {
    width: 100%;
  }
}
