.button {
  border: none;
  border-radius: 4px;
  padding: 5px 12px;
  box-shadow: 2px 2px 5px rgba(150, 150, 150, 0.5);
  color: #333;
  letter-spacing: 0.7;
  font-weight: 600;
  text-transform: capitalize;
}

.button:hover {
  opacity: 0.7;
}

.green {
  composes: button;
  background-color: green;
}

.red {
  composes: button;
  background-color: red;
}
