.container {
  background-color: rgb(140, 140, 178);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.container h2 {
  margin: 0;
}

.navList {
  display: flex;
  align-items: center;
  color: initial;
  margin: 0;
}

.navList li {
  list-style-type: none;
  padding: 10px;
  color: #fff;
}

.navList a:active {
  color: rgb(69, 0, 181);
}

.navList li:hover {
  color: grey;
}

.navList a {
  /* text-decoration: none; */
  /* text-decoration-line: none; */
  text-transform: capitalize;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 20px;
}
