.container {
  display: grid;
  max-width: 900px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.container h4 {
  margin: 5px 0px;
}

.container p {
  margin: 3px 0px;
}
